<?xml version="1.0" encoding="UTF-8"?>
<!--
Esta é a configuração de conexão do hibernate 
aqui você define o * Driver_class de conexão
                   * Url e Dialeto do banco
                   * Usuário e Senha
                   * E o mapeamento das classes
-->

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <session-factory>   
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/JavaHibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">pswd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="pool_size">true</property>
        <mapping resource="aluno.hbm.xml"></mapping>
        
    </session-factory>
</hibernate-configuration>